#
# WordPress (Headless CMS)
#
# NOTE: HTTPS is currently failing TLS handshake on the CMS host.
# Use HTTP until SSL is fixed for the cms subdomain, then switch back to HTTPS.
WP_GRAPHQL_ENDPOINT=http://cms.engineeringspecialisedsupport.com/graphql

#
# Email (Resend)
#
# RESEND_API_KEY=re_your_api_key_here

